-if @search_total
	%h3
		Found
		=@search_total
		results.

%h1 Listing videocards

%table
	%tr
		%th
		%th
		%th

	- @videocards.each do |videocard|
		%tr
			%td=link_to videocard.name, videocard
			%td= videocard.item

=paginate @search ? @search : @videocards