%p#notice= notice

%h1=@videocard.name
%h3=@videocard.item

=image_tag "http://images17.newegg.com/is/image/newegg/20-148-482-Z01?$S300W$", :class => 'pic'

=link_to 'statements', "", :class => 'toggle'

%div.statements.none
	%h3 Statements

	%p
		%strong="SELECT * WHERE { <#{VideocardRdf.for(@videocard.item).subject.to_s}> ?p ?o }"
	
	-@videocard_rdf.each do |solution|
		%p=solution.inspect

-if @videocard.details
	%div
	%table#details
		-@videocard.details.each_pair do |key, value|
			%tr
				%td=key
				%td=simple_format(value)