%p#notice= notice

%h1=@videocard.name
%h3=@videocard.item

%div.statements
	%h3 Statements

	-@videocard_rdf.each do |statement|
		=statement

-if @videocard.details
	%div
		%ul.details
			-@videocard.details.each_pair do |key, value|
				%li
					%strong=key
					=simple_format(value)