.three-quarters
	%p#notice= notice
	
	%h1=@videocard.name
	%h3=link_to @videocard.item, "http://www.newegg.com/Product/Product.aspx?Item=#{@videocard.item}", :target => '_blank'
	
	%ul#tabs
		%li=link_to 'Attributes', '', :class => 'toggle'
		%li=link_to 'Statements', "", :class => 'toggle'
		%li=link_to 'Details', "", :class => 'toggle'
		
	%div#attributes_tab
		%table#details
			%tr
				%td.label Brand
				%td=link_to @videocard.brand, browse_path(:target => @videocard.class, :brand => @videocard.brand)
				%tr
				%td.label Model
				%td=@videocard.name
				%tr
				%td.label Graph Slot
				%td=link_to @videocard.graph_slot, traverse_path(:target => @videocard.class, :graph_slot => @videocard.graph_slot)
	
	%div#statements_tab.none
		%h3 Statements
	
		%p
			%strong="SELECT * WHERE { <#{VideocardRdf.for(@videocard.item).subject.to_s}> ?p ?o }"
		
		%ul
		-@videocard_rdf.each do |solution|
			%li
				=solution.p
				%strong=solution.o

	%div#details_tab.none
		%table#details
			-@videocard.details.each_pair do |key, value|
				%tr
					%td=key
					%td=simple_format(value)
				
.third
	=image_tag @videocard.image, :class => 'pic'

	=render :partial => 'searches/recommendations', :object => @recommendations
	
	=render :partial => 'searches/computer', :object => @computer if @computer