%ul#home
	%li
		%span.header=link_to "Find a replacement", ""
		%p Compatible replacement parts
	%li
		%span.header=link_to "Get a Computer", ""
		%p New or from parts you already have
	%li
		%span.header=link_to "Browse our database", ""
		%p Find what you want

#search
	=form_tag polymorphic_path(params[:controller]), :method => :get do
		=default_text_field :q, "I want to replace my xpto video card..."
	
		=submit_tag "Submit"