-if @search_total
	%h3
		Found
		=@search_total
		results.

%h1 Listing processors

%table
	%tr
		%th
		%th
		%th

	- @processors.each do |processor|
		%tr
			%td=link_to processor.name, processor
			%td= processor.item

=paginate @search ? @search : @processors