%h1 Listing processors

%table
  %tr
    %th
    %th
    %th

  - @processors.each do |processor|
    %tr
      %td= link_to 'Show', processor
      %td= link_to 'Edit', edit_processor_path(processor)
      %td= link_to 'Destroy', processor, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Processor', new_processor_path
