%h1 
	Listing processors
	-if params[:brand]
		%span.brand=params[:brand]
	="(#{@processors.total})"

.three-quarters
	=paginate @processors
	%table.listing
		%thead
			%tr
				%td
				%td Brand
				%td Model
				%td CPU Socket
		- @processors.results.each do |member|
			%tr
				%td=link_to image_tag (member.image), member, :class => 'thumb'
				%td=member.brand
				%td=link_to member.name, member
				%td=member.cpu_socket
	=paginate @processors

.third
	.facets
		%h3 Browse by Brand
		%ul.facet
			-for row in @processors.facet(:brand).rows
				%li
					= link_to row.value, processors_path(:brand => row.value)
					="(#{row.count})"