-if @search_total
	%h3
		Found
		=@search_total
		results  for
		%u=params[:q]

%h1 Listing processors

=paginate @search ? @search : @processors
%table#listing
	- @processors.each do |processor|
		%tr
			%td=image_tag processor.image, :class => 'thumb'
			%td=processor.brand
			%td=link_to processor.name, processor
			%td= processor.item

=paginate @search ? @search : @processors