%p#notice= notice

%h1=@processor.name
%h3=@processor.item

=image_tag @processor.image, :class => 'pic'

=link_to 'statements', "", :class => 'toggle'

%div.statements.none
	%h3 Statements
	
	%p
		%strong="SELECT * WHERE { <#{ProcessorRdf.for(@processor.item).subject.to_s}> ?p ?o }"

	-@processor_rdf.each do |solution|
		%p=solution.inspect

-if @processor.details
	%div
		%table#details
			-@processor.details.each_pair do |key, value|
				%tr
					%td=key
					%td=simple_format(value)
