.three-quarters
	%p#notice= notice
	
	%h1=@processor.name
	%h3=link_to @processor.item, "http://www.newegg.com/Product/Product.aspx?Item=#{@processor.item}", :target => '_blank'
	
	%ul#tabs
		%li=link_to 'Attributes', '', :class => 'toggle'
		%li=link_to 'Statements', "", :class => 'toggle'
		%li=link_to 'Details', "", :class => 'toggle'
		
	%div#attributes_tab
		%table#details
			%tr
				%td.label Brand
				%td=link_to @processor.brand, traverse_path(:target => @processor.class, :brand => @processor.brand)
				%tr
				%td.label Model
				%td=@processor.name
				%tr
				%td.label CPU Socket
				%td=link_to @processor.cpu_socket, traverse_path(:target => @processor.class, :cpu_socket => @processor.cpu_socket)
	
	%div#statements_tab.none
		%h3 Statements
		
		%p
			%strong="SELECT * WHERE { <#{ProcessorRdf.for(@processor.item).subject.to_s}> ?p ?o }"
	
		%ul
		-@processor_rdf.each do |solution|
			%li
				=solution.p
				%strong=solution.o

	%div#details_tab.none
		%table#details
			-@processor.details.each_pair do |key, value|
				%tr
					%td=key
					%td=simple_format(value)

.third
	=image_tag @processor.image, :class => 'pic'

	=render :partial => 'searches/recommendations', :object => @recommendations