%p#notice= notice

%h1=@processor.name
%h3=@processor.item

%div.statements
	%h3 Statements

	-@processor_rdf.each do |statement|
		=statement

-if @processor.details
	%div
		%ul.details
			-@processor.details.each_pair do |key, value|
				%li
					%strong=key
					=simple_format(value)
