.three-quarters
	%p#notice= notice
	
	%h1=@processor.name
	%h3=link_to @processor.item, "http://www.newegg.com/Product/Product.aspx?Item=#{@processor.item}", :target => '_blank'
	
	%ul#tabs
		%li=link_to 'Attributes', '', :class => 'toggle'
		%li=link_to 'Statements', "", :class => 'toggle'
		%li=link_to 'Details', "", :class => 'toggle'
		
	%div#attributes_tab
		%table#details
			%tr
				%td.label Brand
				%td=@processor.brand
				%tr
				%td.label Model
				%td=@processor.name
				%tr
				%td.label CPU Socket
				%td=@processor.cpu_socket
	
	%div#statements_tab.none
		%h3 Statements
		
		%p
			%strong="SELECT * WHERE { <#{ProcessorRdf.for(@processor.item).subject.to_s}> ?p ?o }"
	
		-@processor_rdf.each do |solution|
			%p=solution.inspect

	%div#details_tab.none
		%table#details
			-@processor.details.each_pair do |key, value|
				%tr
					%td=key
					%td=simple_format(value)

.third
	=image_tag @processor.image, :class => 'pic'

	#recommendations
		%h2 Recommendations

		%table
			-Processor.limit(3).each do |p|
				%tr
					%td=image_tag p.image, :class => 'thumb'
					%td=link_to p.name, p
					%td=p.brand