%h1
	Listing
	-if params[:brand]
		%span.brand=params[:brand]
	memories
	="(#{@memories.total})"

.three-quarters
	=paginate @memories
	%table.listing
		%thead
			%tr
				%td
				%td Brand
				%td Model
				%td Speed
				%td Type
				%td Capacity
		- @memories.results.each do |member|
			%tr
				%td=image_tag member.image, :class => 'thumb'
				%td=member.brand
				%td=link_to member.name, member
				%td=member.speed
				%td=member.memory_type
				%td=member.capacity
	=paginate @memories

.third
	.facets
		%h3 Browse by Brand
		%ul.facet
			-for row in @memories.facet(:brand).rows
				%li
					= link_to row.value, memories_path(:brand => row.value)
					="(#{row.count})"