.three-quarters
	%p#notice= notice
	
	%h1=@memory.name
	%h3=link_to @memory.item, "http://www.newegg.com/Product/Product.aspx?Item=#{@memory.item}", :target => '_blank'
	
	%ul#tabs
		%li=link_to 'Attributes', '', :class => 'toggle'
		%li=link_to 'Statements', "", :class => 'toggle'
		%li=link_to 'Details', "", :class => 'toggle'

	%div#attributes_tab
		%table#details
			%tr
				%td.label Brand
				%td=@memory.brand
				%tr
				%td.label Model
				%td=@memory.name
				%tr
				%td.label Speed
				%td=@memory.speed
				%tr
				%td.label Memory Type
				%td=@memory.memory_type
				%tr
				%td.label Capacity
				%td=@memory.capacity
	
	%div#statements_tab.none
		%h3 Statements
		
		%p
			%strong="SELECT * WHERE { <#{MemoryRdf.for(@memory.item).subject.to_s}> ?p ?o }"
	
		%ul
		-@memory_rdf.each do |solution|
			%li
				=solution.p
				%strong=solution.o
	
	%div#details_tab.none
		%table#details
			-@memory.details.each_pair do |key, value|
				%tr
					%td=key
					%td=simple_format(value)
					
.third
	=image_tag @memory.image, :class => 'pic'

	#recommendations
		%h2 Recommendations

		%table
			-Memory.limit(3).each do |m|
				%tr
					%td=image_tag m.image, :class => 'thumb'
					%td=link_to m.name, m