%p#notice= notice

%h1=@memory.name
%h3=@memory.item

=image_tag "http://images17.newegg.com/is/image/newegg/20-148-482-Z01?$S300W$", :class => 'pic'

=link_to 'statements', "", :class => 'toggle'

%div.statements.none
	%h3 Statements
	
	%p
		%strong="SELECT * WHERE { <#{MemoryRdf.for(@memory.item).subject.to_s}> ?p ?o }"

	-@memory_rdf.each do |solution|
		%p=solution.inspect

-if @memory.details
	%div
		%table#details
			-@memory.details.each_pair do |key, value|
				%tr
					%td=key
					%td=simple_format(value)