body {
	margin: 2em;
	background-color: #333;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a {
	color: #000;
	&:hover {
		color: #fff;
		background-color: #000;}
}

.clear {clear: both;}
.none {display: none;}

.left {float: left;}

.half, .third, .three-quarters { float: left; margin-right: 1em; padding: 1em; }

.three-quarters { width: 68%; }
.half { width: 46%; }
.third { width: 25%; }

input[type="text"] {width: 400px; padding: 0.3em; color: #C6C1C1; font-weight: bold; font-size: 15px}
input[type="submit"] {border: 1px solid #999; padding: 0.4em; font-weight: bold; font-size: 14px}
textarea {border: 1px solid #999; width: 500px; height: 200px}

#menu {
	border: 1px solid #999;
	background: #fff;
	-webkit-box-shadow: 0 2px 2px #000;
	-moz-box-shadow: 0 2px 2px #000;
	-box-shadow: 0 2px 2px #000;
	li {display: inline}
	form {
		display: inline-block;
		margin-left: 10em;
	}
	a {
		padding: 1em;
		&:hover {
			color: #fff;
			background-color: #000;}
		&.active {
			background: #333;
			color: #fff;}
	}
}

#footer {
	margin-top: 1em;
	padding: 0.1em;
	padding-right: 1em;
	background: #fff;
	overflow: hidden;
	ul {float: right}
	li {display: inline}
}

#main {
	background: #fff;
	border: 1px solid #999;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .2em;
	-webkit-box-shadow: 0 0 2px #000;
	-moz-box-shadow: 0 0 2px #000;
	-box-shadow: 0 0 2px #000;
	margin-top: 1em;
	padding: 1em;
	overflow: hidden;
}

ul.details {
	width: 75em;
	li {float: left; width: 25em; padding-right: 5em}
	li, li p {font-size: 10px}
}

#statements_tab {
	float: none;
	border: 1px solid;
	padding: 0.5em;
	margin: 1em;
	p {font-size: 10px}
}

table.listing {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	thead {font-weight: bold}
	td {
		border: 1px solid #999;
		font-size: 10px;
	}
}

table.search {
	border-collapse: collapse;
	border: 1px solid #999;
	width: 65%;
	float: left;
	td {border-bottom: 1px solid #999}
}

#details {
	td.label {font-weight: bold}
	td, p {font-size: 10px}
	td {
		border: 1px solid #999;
		padding: 0.3em;
	}
}

img.thumb {
	width: 5em
}

img.pic {
	border: 1px solid #999;
	padding: 1em;
	float: right;
}

ul#home {
	margin-left: 13em;
	.header {font-size: 15px; font-weight: bold}
	li {display: inline-block; border: 1px solid #999; padding: 1em; margin: 1em; text-align: center}
}

#search {
	text-align: center;
}

#recommendations {margin: 1em; overflow: hidden; float: right}

.facets {
	margin-top: 1em;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
	float:left;
	padding: 0.5em;
	border: 1px solid #999;
	ul {list-style: none; padding: 0;}
	h3 {margin-top: 0em}
}

span.brand {text-decoration: underline; font-style: italic; color: purple}
span.query a {font-style: italic; color: #F1651A}

#tabs {
	li {
		display: inline;
	}
}

.pagination {
	margin: 1em;
	span {
		border: 1px solid #999;
		display: inline-block;
		color: #333;
		&:hover {
			a {
				display: inline-block;
				background: #333;
				color: #fff;
				padding: 0.3em;
			}
		}
	}
	a {
		display: inline-block;
		text-decoration: none;
		padding: 0.3em;
		&:hover {background: inherit}
	}
	.current {
		background: #333;
		color: #fff;
		padding: 0.3em;
	}
	.page, .next, .prev, .last, .first {
		-moz-border-radius: .2em;
		-webkit-border-radius: .2em;
		border-radius: .2em;
		&:hover {
			background: #333;
		}
	}
	.page.gap {
		border: none;
		&:hover {background: none;}
	}
}