body {
	margin: 2em;
	background-color: #333;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a {
	color: #000;
	&:visited {
		color: #666; }
	&:hover {
		color: #fff;
		background-color: #000;}
}

.half {
	width: 46%; float: left; margin-right: 1em; padding: 1em;
}

input[type="text"] {width: 400px; padding: 0.3em; color: #C6C1C1; font-weight: bold; font-size: 15px}
input[type="submit"] {border: 1px solid #999; padding: 0.4em; font-weight: bold; font-size: 14px}
textarea {border: 1px solid #999; width: 500px; height: 200px}

#menu {
	border: 1px solid #999;
	background: #fff;
	-webkit-box-shadow: 0 2px 2px #000;
	-moz-box-shadow: 0 2px 2px #000;
	-box-shadow: 0 2px 2px #000;
	li {display: inline}
	form {
		display: inline-block;
		margin-left: 10em;
	}
	a {
		padding: 1em;
		&:hover {
			color: #fff;
			background-color: #000;}
		&.active {
			background: #333;
			color: #fff;}
	}
}

#footer {
	margin-top: 1em;
	padding: 0.1em;
	padding-right: 1em;
	background: #fff;
	overflow: hidden;
	ul {float: right}
	li {display: inline}
}

#main {
	background: #fff;
	border: 1px solid #999;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .2em;
	-webkit-box-shadow: 0 0 2px #000;
	-moz-box-shadow: 0 0 2px #000;
	-box-shadow: 0 0 2px #000;
	margin-top: 1em;
	padding: 1em;
	overflow: hidden;
}

ul.details {
	width: 75em;
	li {float: left; width: 25em; padding-right: 5em}
	li, li p {font-size: 10px}
}

.statements {
	float: none;
	border: 1px solid;
	padding: 0.5em;
	margin: 1em;
	p {font-size: 10px}
}

.none {
	display: none;
}

.listing {
	width: 100%;
	text-align: center;
	td {
		border: 1px solid #999;
		padding: 1em;
	}
}

#details {
	td, p {font-size: 10px}
	td {
		border: 1px solid #999;
		padding: 0.3em;
	}
}

img.thumb {
	width: 5em
}

img.pic {
	border: 1px solid #999;
	padding: 1em;
	float: right;
}

ul#home {
	margin-left: 13em;
	.header {font-size: 15px; font-weight: bold}
	li {display: inline-block; border: 1px solid #999; padding: 1em; margin: 1em; text-align: center}
}

#search {
	text-align: center;
}

#recommendations {margin: 1em; overflow: hidden; float: right}

.facets {float:right;}