-if @search_total
	%h3
		Found
		=@search_total
		results.

%h1 Listing motherboards

%table
	%tr
		%th Name
		%th Item
		%th Actions

	- @motherboards.each do |motherboard|
		%tr
			%td=link_to motherboard.name, motherboard
			%td=motherboard.item

=paginate @search ? @search : @motherboards