-if @search_total
	%h3
		Found
		=@search_total
		results for
		%u=params[:q]

%h1 Listing motherboards

=paginate @search ? @search : @motherboards
%table#listing
	- @motherboards.each do |motherboard|
		%tr
			%td=image_tag motherboard.image, :class => 'thumb'
			%td=motherboard.brand
			%td=link_to motherboard.name, motherboard
			%td=motherboard.item

=paginate @search ? @search : @motherboards