%p#notice= notice

%h1=@motherboard.name
%h3=@motherboard.item

%div.statements
	%h3 Statements

	-@motherboard_rdf.each do |statement|
		=statement

-if @motherboard.details
	%div
		%ul.details
			-@motherboard.details.each_pair do |key, value|
				%li
					%strong=key
					=simple_format(value)